html, body {

    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #00c6ff, #0072ff, #4b2feb, #3a04ff, #a304ff, #a304ff, #af02ff);
    color: #333;
}

header {
    background: transparent;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.name-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.name-button:hover {
    background-color: white;
    color: #0072ff;
}

main {
    flex: 1;
    padding: 40px;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.post {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.post img {
    width: 100%;
    height: auto;
}

.post-content {
    padding: 20px;
}

.post-content h3 {
    margin: 0 0 10px;
}

.post-content p {
    margin: 0 0 20px;
    color: #666;
}

footer {
    background: white;
    padding: 40px 20px;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo {
    flex: 1 0 100%;
    margin-bottom: 20px;
    text-align: left;
}

.footer-links {
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    text-decoration: none;
    color: #0072ff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    flex: 1 0 100%;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    font-size: 14px;
}


.quick-links {
    flex: 1 0 auto;
    margin-bottom: 20px;
}

.quick-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: block; /* Display as block to stack vertically */
}

.quick-links ul li {
    margin: 5px 0;
}

.quick-links ul li a {
    text-decoration: none;
    color: #0072ff;
}

@media screen and (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .quick-links {
        margin-bottom: 10px;
    }
}
